input[type=radio] {
    margin: 4px 14px 4px 0px;
}
ul.question_nav {
	padding: 0;
	li {
		margin: 5px 5px 5px 0px;
		display: inline-block;
		a.question_number {
			text-decoration: none;
			color: white;
			transition: all 0.2s ease;
			background: #2a5076;
			border: 2px solid #2a5076;
			border-radius: 100%;
			width: 25px;
			height: 25px;
			text-align: center;
			display: block;
			&:hover, &.active {
				background: white;
				color: blue;
				cursor: pointer;
			}
		}
	}
}