<div *ngIf="question">
	<header>
		<nav>
			<ul class="question_nav">
				<li *ngFor="let q of questions">
					<a [routerLink]="['/questions', q.id]" [routerLinkActive]="['active']" class="question_number">{{q.id}}</a>
				</li>
			</ul>
		</nav>
		<h2>Question {{question.id}}</h2>
		<h3>{{question.question}}</h3>
	</header>
	<div>
		<form>
			<div *ngFor="let answer of question.answers">
				<input type="radio" name="answer" value={{answer}}>{{answer}}
			</div>
		</form>
		<button class="btn btn-default">Submit</button>
	</div>
</div>