<header>
	<h1>Full Question List</h1>
</header><!-- /header -->
<ol *ngIf="questions" dnd-sortable-container [sortableData]="questions">
	<li *ngFor="let q of questions; let i = index" 
		dnd-sortable 
		[sortableIndex]="i" 
		class="question-item"
		(onDropSuccess) = "resort()">
		<a [routerLink]="['/questions', q.id]" [routerLinkActive]="['active']" class="">#{{q.number}} {{q.title}} ID: {{q.id}}</a>
		<div class="controls">
			<a [routerLink]="['/question-editor', q.id]">
				<i class="fa fa-pencil" aria-hidden="true"></i>
			</a>
			<i 	class="fa fa-times-circle"
			        	type="button"  
			        	aria-hidden="true"
			        	(click)="deleteQuestion(q.id);"></i>
		</div>
		<ol>
			<li *ngFor="let a of q.answers">
				{{a.title}} (ID: {{a.id}})
			</li>
		</ol>
	</li>
</ol>